Excellent knowledge of hand-coded HTML5, CSS3, JavaScript
Hands-on experience working with Object Oriented JavaScript (OOJS), JavaScript libraries and their practical uses in building complex interactive experiences
Knowledge of common JavaScript design patterns
Hands-on experience with ECMAScript 2015+ and should be up-to-date with new specifications (different stages). Also, using transpilers like Babel to use features from all stages
Understanding of React.js, its core principles - lifecycle methods, virtual DOM etc. and at least 6 – 12 months hands-on experience with the same
Understanding of one-way data flow and the Flux architecture
Understanding of stateful (container) vs stateless (presentational) components and how to break   down the application into components
Core understanding of how React’s state management works out of the box. Understanding of different libraries available to better manage application state like Redux/MobX. Difference in the way each library works (pure functions vs observables etc.) and the workflows as well as best practices
Different middleware implementations available for async actions in Redux like redux-thunk,    redux-saga, redux-observable etc. Hands-on experience with at least one
Understanding of different CSS architectures that go hand-in-hand with React.js application development. Pros and cons of component-level CSS vs global and where to apply each
Thorough understanding of Webpack bundler (version 2+). Experience with configuring Webpack   from scratch is a plus
Hands-on experience with test-driven development using Jest or equivalent. Familiar with snap shot testing, code coverage. Experience working with utilities like Enzyme
Understanding of universal rendering with React.js. Hands-on experience with different out of the box implementations or custom implementation is a plus

Deep experience with React and Redux - not just for globalizing pieces of sharable data but as a general client-side storage mechanism. When you see API data in a component’s local state, you worry about scalability and MVC overlaps. You red heart JavaScript - it’s robustness, speed, nuances, and capabilities.
You have built several products that taught you the latest in syntax, best practices, and performance. You’re comfortable building features without component libraries to meet pixel perfect designs. You have a passion for solving complex problems and are motivated to improve healthcare. You enjoy collaborating, learning from, and teaching others to improve engineering culture. You assume good intent in others, and actively do your part to make a positive work environment.
Regular open-source contributors
Experience writing JavaScript on several runtimes
Data visualization experience
Design capability and a passion for high quality UX

We are looking for terrific Full Stack Engineers who can contribute in all the aspects 
of an application development. You will be primarily working with the product team of ORMAE 
so we expect you to lead with a vision.  
  
• Strong knowledge of building scalable and secure NodeJS micro-services. Should be able 
to understand and write Python code as well. 
• Strong experience in building smooth UI/UX workflows to satisfy the business 
requirements. 
• Should be familiar with logging and monitoring tools like Loki/EFK, Prometheus, Sentry, 
Grafana. 
• Strong knowledge in NodeJS, Functional programming, SDLC (Software development 
Life cycle). Should be able to write both synchronous and asynchronous code using 
NodeJS. 
• Must be proficient in GIT. 
• Experience is creating CI/CD pipelines. 
• Experience with working on Linux based servers. 
• Should have experience with both SQL and NoSQL databases. Experience with in-
memory databases like Redis is a plus. 
• Should have Angular and React knowledge. Experience with web workers and building 
drag-drop web interfaces is a bonus and calls for extra points. 
• Should be able to design a database schema for any given problem statement. 
• Hands on experience in developing serverless architecture is a must. 
• Knowledge in deployment using Docker, Docker Swarm, Kubernetes and how 
containerized applications work is a must. 
• Experience in dealing with third party API’s. 


• Familiar with OAuth2 server implementation. 
• Able to architect microservices based applications. 
• Prior product-based startup experience is a plus.
Front-end Engineer 
Job Description: We are looking for a front-end engineer to architect and build a pixel perfect highperformance web application with an intuitive workflow for uploading projects and visualizing 3D models (point clouds and meshes). The role would also involve elegantly managing the exchange of data between servers and the front-end using Node.js. You will be working closely with our backend team (CV and AI engineers), and our cloud architect to build the fastest 3D rendering web application in the market. 

Full Stack Engineer
We are looking for a seasoned full-stack engineer to understand, migrate, and take over all future development responsibilities. Successful candidates will act in a capacity of lead and have a minimum of five years’ recent experience with all of the skills listed below.

Responsibilities
1) Take charge of the existing implementation and come up with an exhaustive roadmap of how swiftly we can bring technical know-how in-house.
2) Become a subject matter expert of architecture and design.
3) Work closely with leadership in executing new requests.
Skills: 
• Firm grasp of JavaScript language and JavaScript object model 
• Experience in 3D object rendering 
• Knowledge of WebGL or its JavaScript wrappers like VTK or ParaView 
• Thorough understanding of React and its workflows like Redux and Flux 
• Working knowledge of Node.js and frameworks available for it 
• Understanding of security and data protection best practices 
• Fundamental knowledge of design principles behind a scalable web application

At least five years’ experience with:
· Writing HTML, CSS, and JavaScript. Being up on the latest practices is a must, e.g., HTML5, CSS3.
· A relevant back-end programming language with PHP, Python, JavaScript.
· Database design and management, including being up on the latest. Hands-on experience with MySQL.
· Solid experience with CI/CD tools.
· Hands-on experience with AWS preferred, Azure nice to have.
· Hands-on familiarity with a relevant and globally supported framework—both front-end and back-end, if necessary, like Laravel.
· Strong knowledge of data structures, system design and algorithms.
· Experience implementing testing platforms and unit tests.
· Proficiency with Git and/or Bitbucket.
· Skilled at working in tandem with a team, or unsupervised as required.
· Excellent written and verbal communication skills, with strong attention to detail and a head for problem-solving.

You will work with the UI/UX designer and bridge the gap between graphical design 
and technical implementation, taking an active role on both sides and defining how 
the application looks as well as how it works. 

 

Responsibilities 
• Develop new user-facing features 
• Build reusable code and libraries for future use 
• Ensure the technical feasibility of UI/UX designs 
• Optimize application for maximum speed and scalability 
• Assure that all user input is validated before submitting to the back end. 
• Collaborate with other team members and stakeholders 

 

Skills and Qualifications: 
• Proficient understanding of web mark-up, including HTML5, CSS3 
• Basic understanding of CSS pre-processing platforms, such as LESS and SASS 
• Rock-solid understanding of JavaScript as we don\'t stick to any framework as 
such. Should have experience in React, Redux, or any other state management 
library. 
• Bonus if you are worked on complex UIs which involved drag & drop 
interactions. 
• Good understanding of asynchronous request handling, partial page updates, 
and AJAX. 
• Hands-on experience in optimizing the UI of an application. 
• Proficient understanding of cross-browser compatibility issues and ways to work 
around them. 
• Proficient understanding of code versioning tools, such as Git. 
• Knowledge about Docker and Nginx are nice to have and adds as a bonus point. 

 

Required Candidate profile 
You will be working with the UI/UX designer and bridge the gap between graphical 
design and technical implementation, taking an active role on both sides and 
defining how the application looks as well as how it works. 
Apply only, If you are looking for a job that gives you an enormous opportunity for 
learning and growth. 
Full Stack Engineer
Role                : Full-Time Individual Contributor (IC)

Reporting to   : Solution Architect / Program Manager / COE Head

Location        : India

Shift               : Normal Day shift with some overlap with US time zone

 

Experience    : 3-9 years

Education      : BTech/ BE / BS/ MS / MBA

Industry          : E-Commerce

 

Primary Skills : Node, Javascript/Typescript, AWS (lambda, DynamoDB, SQS/SNS, API Gateway), Terraform

Secondary Skills : DevOps, CI/CD, Jenkins, Dockers

 

Must have Experience in AWS/terraform



Required Experience

Must have hands-on application development in E-commerce domain preferably in Pharma/Medical distribution
Must have done project using JavaScript as a development stack - Node JS, Express JS and Nest JS
Must have good understanding of technology stacks – PHP, CSS, Laravel, Magento, Javascript, Node.js, Angular.Js, Express, and React.js
Should be able to provide the suggestion on betterment of processes to improve productivity
Should be able to provide the suggestion product (e-comm)
Should have thorough understanding of DevOps philosophy and driven the same in past projects
Should have knowledge on cloud based deployment to GCP / AWS
Pharma/Healthcare domain experience will be a definite plus
 

Non-Technical/ Behavioral competencies required

Must have worked with US/Europe based clients in onsite/offshore delivery model,
Should have very good verbal and written communication, technical articulation, listening and presentation skills
Should be a quick learner, self- starter, go-getter and team player
Should have experience of working under stringent deadlines in a Matrix organization structure
Should have demonstrated appreciable Organizational Citizenship Behavior (OCB) in past organizations
 

Job Responsibilities

This is a fast track project, hence should have capability of understanding the requirements and detailing out the plan
Must be clear and focused on deliverable and understands the requirement thoroughly
Should keep the management and team up to date on deliverables
Implement and manage change when necessary to meet project outputs
Evaluate and assess risks for the project
Create and maintain delivery best practices and audit the implementation of processes and best practices in the organization
Bring out technical/operational challenges/risks during execution, develop action plan for mitigation and aversion of identified risks
Comply with development processes, documentation templates and tools prescribed by us or and our clients
Work with other teams and Program Managers in the organization and assist them on estimation of tasks for proposals

Front-End Engineer React - Min 5 Years Experience
We\\\\\\\'re looking for an experienced front-end software web engineer with 5+ years of industry experience who will help design and develop responsive and fluid user interfaces for custom user-facing web apps.

What we\\\\\\\'re looking for

B.S / M.S in Computer Science or related field.

Rock-solid software engineering foundation and a commitment to writing clean, documented, and well-architected code.

Expertise with Express / ReactJS/ Redux / HTML5 / CSS / REST / Bootstrap.

Experience building data analytics interfaces is a plus.

Comfortable designing front-ends from scratch using appropriate design tools.

Experience building enterprise dashboards is a plus.

Working knowledge back-end/full-stack with NodeJs is a plus.

Senior Frontend Developer
<meta charset="UTF-8">
Location: This is a Remote position, you will work with teams in Pune and Bay Area (US)

Experience Level: 8 plus years

Top Skill: Angular 

You will work on:

We help many of our clients to build rich, high fidelity applications that customers love to use - on any screen - web, mobile or hybrid. You will have the opportunity to build enterprise class, shareable, re-usable UI components for a suite of products.

Roles & Responsibilities

What you will do (Responsibilities):

Collaborate with Designers, Product Managers for carving out the right front-end architecture
Code web applications which are secure, reusable, modular and scalable
Develop robust, modular and testable code which is always ready for production deployment
What you bring (Skills):

8 plus years of strong experience in building scalable and component based UI architecture for the enterprise using Angular framework.
Implementing micro-frontends using patterns like NgRX, Server Side rendering and Web Components.
Strong coding experience in TypeScript , JavaScript, HTML, CSS,JQuery and Angular
Experience in integrating UI with backend using REST APIs, JWT, OAuth, Webhooks or GraphQL
Proficient in debugging using Developer tools and/or any other Network tools
Good understanding of development tools like NPM, Webpack and Babel
Test driven development using Jasmine, Jest or Mocha
You communicate well in person, on paper, and in code. You love to make an impact and thrive in small, collaborative, energetic teams.
You are product-focused, self-driven individual taking pride and ownership of your work.
Great if you know (Skills):

Building Micro-Frontend component based architecture for standardized UI elements across suite of products will be a plus.
Experience in CI/CD, Testing, Security and Code Quality processes for UI applications
Understanding of SEO friendly websites, PWAs and server side rendering.
Advantage Cognologix:

Higher degree of autonomy, startup culture & small teams
Opportunities to become expert in emerging technologies
Remote working options for the right maturity level
Competitive salary & family benefits
Performance based career advancement
Eligibility

Bachelors /Masters Degree or Equivalent

Company Introduction

About Cognologix:

Cognologix helps companies disrupt by reimagining their business models and innovate like a Startup. We are at the forefront of digital disruption and take a business first approach to help meet our client’s strategic goals.

We are web scale organisation helping our clients to deliver magical user interfaces for their enterprise products

Minimum Experience:
8 years
 
Top Skill:
Angular, JavaScript/TypeScript HTML CSS 
 
Senior Backend Engineer
Duties and responsibilities: 
▪ Build cutting edge tech solutions using Python 
▪ Work as part of the team to ensure deployment and integration tasks are completed successfully 
▪ Assist client support personnel in the remediation of production issues 
▪ Come up with initiatives to continuously improve platform performance and reliability 
▪ Recommend changes in project design concepts to improve efficiency. 
▪ Develop design specifications, installation instructions, and other system-related information. 
▪ Verify stability, interoperability, portability, security, and scalability of system architecture. 
▪ Select apt design solutions and ensure compatibility of system components working with software engineers. 
▪ Evaluate current or emerging technologies to consider monetary factors of Python 
▪ Provide technical guidance and support the development of systems. 
▪ Identify system data, hardware and software components required to meet user needs. 
▪ Provide implementation guidelines for system security to customers or installation teams. 

Digital Health Solutions:
▪ Implement solutions focusing on reuse and industry standards at a program, enterprise or operational scope. 
▪ Convey architectural solutions to all levels of professionals and leaders. 
▪ Ensure compliance with established architecture, design patterns, policies, standards, and best practices. 
▪ Identify, review and present input on project activities and plans. 
▪ Design, develop, implement and maintain a series of programs, subsystems, revision and enhancement of the current system. 

Must have:
▪ Sound concepts of data warehousing & ETL 
▪ Exposure to the star schema is in dimension modelling and 
▪ Also Fact and dimension tables — different types of dimension tables 

Good to have:
▪ Experience in AWS Redshift 
▪ AWS experience (IaaS + PaaS) 
▪ AWS experience, in particular good experience with S3, Kafka or Kinesis and Redshift 
▪ AWS Lambda & Docker
Full Stack Engineer (Remote)
You will work on:
We help many of our clients make sense of their large investments in data – be it building analytics solutions or machine learning applications. You will work on cutting edge cloud native technologies to crunch terabytes of data into meaningful insights. 

What you will do (Responsibilities):
Collaborate with Business, Marketing & CRM teams to build highly efficient data interfaces. You will be responsible for:
Create tools and services to build personalized CRM experience.
Work closely with our operations team, product managers and designers to build technologies to fuel the hyper growth of Uber!
Work across the stack from database schema design decisions to backend services to tweaking CSS.

Requirement (Skills):
Minimum of 4 years experience.
Expertise in one or more object oriented Java programming the eagerness to learn Golang
Database design and architecture: data modeling and NoSQL database concepts
Knowledge of frontend stack (JavaScript/HTML/CSS) and React

Good to have (Skills):
T-shaped skills are always preferred – so if you have the passion to work across the full stack spectrum – it is more than welcome.
Exposure to infrastructure-based skills like Docker, Istio, Kubernetes is a plus
Exposure to Redux, Flux and other advanced state management frameworks

