My JOb application
Search for jobs - in specific companies

Track jobs and companies

Particular skills
Particular location
Anywhere

LinkedIn GitHub Reddit Google Anglelist Remote sites About 
Company websites


Research compan
Linked in profile
Browser profiles Glass door

Research about team members

Read roles and responsibilities skills needed and existing
Create coer letter
 - specifiy about skils gaps etc.,
 the culture you prefere
Choose resum
Polish | Refrsh skills
Portfolio website
Send job application
Find common contacts
Ask for referrals   Networking website

Job Networking website




Notifications
Access Linked in Github


No common Contacts

Send DMS to recruiting partners
Followthem post message
See my networking strength
Value added project specifi to that jobs
Send job application
Plan career


Search jobs aplied by applicatino r the project they are using 

Search for job applications from your network or based on company etc.,

Cover letter ideas  by company culture technogloy | sidebar projectsInnovation
Team
Loctation
