/**  Display flex   */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align-end {
    align-items: end;
}

.justify-right {
    justify-items: right;
}

.jc-sb {
    justify-content: space-between;
}

.jc-end {
    justify-content: flex-end;
}

/** Line Height */
.lh-09 {
    line-height: 1.5rem
}

/*** Skills */
.skills-wrapper {
    position: relative;
    display: inline-block;
}

    .skills-wrapper .skill {
        width: 50vw;
        border-radius: 6px;
        border: 1px solid green;
        padding: 5px 0;
        z-index: 1;
        margin: 1rem;
        height: auto;
    }

        /* .skills-wrapper .skill::after {
            content: "";
            position: absolute;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        } */

    /* .skills-wrapper .skill:nth-child(1) {
        top: 0;
        left: 0;
        
    } */

    /* .skills-wrapper .skill:nth-child(1):after {
        top: 47%;
        right: -2rem;
        border-width: 1rem;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        transform: rotate(-90deg);
    }
     */
    /* .skills-wrapper .skill:nth-child(2) {
        top: 0;
        left: 50vw;
    }

    .skills-wrapper .skill:nth-child(3) {
        top: 10vh;
        left: 0;
    }

    .skills-wrapper .skill:nth-child(4) {
        left: 50vw;
        top: 10vh;
    } */


/**  Toolltip top*/
.tooltip-top::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
}

/**  Toolltip bottom*/
.tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-bottom::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
}

/**  Toolltip right*/
.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip-right::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
}

/**  Toolltip left*/
.tooltip-left {
    top: -5px;
    bottom: auto;
    right: 128%;
}

.tooltip-left::after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
}