/**  Display flex   */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align-end {
    align-items: end;
}

.justify-right {
    justify-items: right;
}

.justify-end {
    justify-content: flex-end;
}

/** Line Height */
.lh-09 {
    line-height: 1.5rem
}

/*** Skills */
.skills-wrapper {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    overflow-y: auto;
    max-height: 72vh;
}

    .skills-wrapper .skill {
        border-radius: 6px;
        z-index: 1;
        margin: 1rem;
        height: auto;
    }

    .skills-wrapper .skill h2 {
        text-align: center;
    }

    .skill-list-item {
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
    }
        
        .skill-icon {
            height: 3rem;
        }
  
/**  Toolltip top*/
.tooltip-top::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
}

/**  Toolltip bottom*/
.tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-bottom::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
}

/**  Toolltip right*/
.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip-right::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
}

/**  Toolltip left*/
.tooltip-left {
    top: -5px;
    bottom: auto;
    right: 128%;
}

.tooltip-left::after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
}